
*.log

/tmp

tmp/cache/models/myapp_cake_model_debug_kit_panels

tmp/cache/models/myapp_cake_model_debug_kit_panels

tmp/cache/models/myapp_cake_model_debug_kit_panels

tmp/cache/models/myapp_cake_model_debug_kit_requests

tmp/cache/models/myapp_cake_model_debug_kit_panels

tmp/cache/models/myapp_cake_model_default_roles
